
#container table {
  border: 1px solid black;
  border-collapse: collapse;
}
#container.hidden {
  opacity : 1%;
}

#container table tr td div.white.p{
  background: url(whitePawn.svg);
}
#container table tr td div.black.p{
  background: url(blackPawn.svg);
}
#container table tr td div.black.r{
  background: url(blackRook.svg);
}

#container table tr td div.white.r{
  background: url(whiteRook.svg);
}

#container table tr td div{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  padding: 0;
  margin: 0;
}

#container table tr td .highlight{
  background-color: antiquewhite !important;
}
#container table tr td .highlight{
  background-color: antiquewhite !important;
}

#container table tr:nth-child(even) td:nth-child(even){
  background: rgb(97, 194, 221);
}
#container table tr:nth-child(odd) td:nth-child(odd){
  background: rgb(97, 194, 221);
}




.App {
  text-align: center;
}

.heading{
  color: rgb(255, 0, 0);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
